<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
              
            </style>
        <title>FSCOUTINHO</title>
    </head>
    <body>
        <div>
            <font size ='5'>
            <i> <b> <h1>ABOUT</h1> </i> </b>
            </font>
            &emsp; Felipe is currently attending the electronics course at ETEC Presidente Vargas. <br><br> &emsp; For basically my entire life, I've loved computers and browsing the internet, not sure if that's a good thing, though. I also love mountains and music,<br> &emsp; This website was built for fun, and intentionally made with HTML only, because i suck at web dev.<p>
    </body>
    
</html>
