<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
              
            </style>
        <title>FSCOUTINHO</title>
    </head>
    <body>
        <div>
            <font size ='5'>
            <i> <b> <h1 style="text-align:center;">CONTACT</h1> </i> </b>
            </font>
            <div> <h3 style="text-align:center;"> <b>E-MAIL:</b> <i> felipe.s.coutinho0807@gmail.com </i> <p> </h3> </div>
    </body>
    
</html>
