<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
              
            </style>
        <title>FSCOUTINHO</title>
    </head>
    <body>
        <div>
            <font size ='5'>
            <i> <b> <h1 style="text-align:center;">GEAR</h1> </i> </b>
            </font>
            <div>Computer: 1st gen Samsung odyssey, I5-7300HQ, 8GB, GTX 1050 (laptop version);
            </div>
            <div>
                
    </body>
    
</html>
