<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
              
            </style>
        <title>FSCOUTINHO</title>
    </head>
    <body>
        <div>
            <font size ='5'>
            <i> <b> <h1 style="text-align:center;">FELIPE COUTINHO</h1> </i> </b>
            </font>
            <img src="https://i.imgur.com/E6u04LW.jpeg" class="center"></img>
        </div>
        <p> 
            <a href="/about">ABOUT</a>
        </p>
        <p>
            <a href="/contact">CONTACT</a>
        </p>
        <p>
            <a href="/gear">GEAR</a>
        </p>
    </body>
    
</html>
